<section class="open-map">
    <div class="container open-map__container">
       <div class="open-map__img"></div>
        <h1 class="h2 open-map__title">
            {{ trans(key='organic_title', lang=lang) }}
        </h1>
        <p class="h2-sub open-map__description">
            {{ trans(key='community_title', lang=lang) }}
        </p>
        <div class="open-map__icon-row">
            <img class="open-map__icon" src="/images/open-map/map-1.webp" width="256" height="256" alt="img">
            <img class="open-map__icon" src="/images/open-map/map-2.webp" width="256" height="256" alt="img">
            <img class="open-map__icon" src="/images/open-map/map-3.webp" width="256" height="256" alt="img">
            <img class="open-map__icon" src="/images/open-map/map-4.webp" width="256" height="256" alt="img">
            <img class="open-map__icon" src="/images/open-map/map-5.webp" width="256" height="256" alt="img">
            <img class="open-map__icon" src="/images/open-map/map-6.webp" width="256" height="256" alt="img">
            <img class="open-map__icon" src="/images/open-map/map-7.webp" width="256" height="256" alt="img">
            <img class="open-map__icon" src="/images/open-map/map-8.webp" width="256" height="256" alt="img">
            <img class="open-map__icon" src="/images/open-map/map-9.webp" width="256" height="256" alt="img">
            <img class="open-map__icon" src="/images/open-map/map-10.webp" width="256" height="256" alt="img">
            <img class="open-map__icon" src="/images/open-map/map-11.webp" width="256" height="256" alt="img">
            <img class="open-map__icon" src="/images/open-map/map-12.webp" width="256" height="256" alt="img">
        </div>
    </div>
</section>

