{% component screenshot(src, alt, loading = "lazy", fetchpriority = "auto") -%}
{%- set local_path = "static" ~ src -%}
{%- set meta = get_image_metadata(path=local_path, allow_missing=true) -%}
<div class="screenshot-wrapper"><img class="screenshot" src="{{ src }}" alt="{{ alt }}" title="{{ alt }}"
  {%- if meta %} width="{{ meta.width }}" height="{{ meta.height }}"{% endif %}
  loading="{{ loading }}"
  decoding="async"
  {%- if fetchpriority and fetchpriority != "auto" %} fetchpriority="{{ fetchpriority }}"{% endif %} /></div>
{%- endcomponent screenshot %}
